<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>College Data Table</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <!-- <link rel="stylesheet" href="static/css/style.css"> -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
  <div class="wrapper">
    <div class="hero text-center">
      <h1 class="hero-text">College Data Table</h1>
      <p class="herot-text">Select your favorite state and city to study!</p>
    </div>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">2022 Best Colleges in America</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/datapage">Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="https://www.niche.com/">NICHE</a></li>
                <li><a class="dropdown-item" href="https://github.com/ZiboZhao0804/University-Ranking">GitHub</a></li>
                <li><a class="dropdown-item" href="https://developers.google.com/maps/documentation/geocoding/overview">Google Places API</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-2">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading"><h5>Filter Search</h5></div>
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <ul class="list-group" id="filters"> 
                      <li class="filter list-group-item">
                        <label for="name">Enter a Name</label>
                        <input class="form-control" id="name" type="text" placeholder="Northwestern University">
                      </li>
                      <li class="filter list-group-item">
                        <label for="grade">Enter a Grade</label>
                        <input class="form-control" id="grade" type="text" placeholder="A+">
                      </li>
                      <li class="filter list-group-item">
                        <label for="city">Enter a City</label>
                        <input class="form-control" id="city" type="text" placeholder="Chicago">
                      </li>
                      <li class="filter list-group-item">
                        <label for="state">Enter a State</label>
                        <input class="form-control" id="state" type="text" placeholder="IL">
                      </li>
                    </ul>
                  </div>
                  <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
                </form>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-10">
          <div id="table-area" class="">
            <table id="ufo-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Name</th>
                  <th class="table-head">Rating</th>
                  <th class="table-head t-space">Niche Grade</th>
                  <th class="table-head">City</th>
                  <th class="table-head">State</th>
                  <th class="table-head t-space">SAT Range</th>
                  <th class="table-head t-space">Acceptance Rate</th>
                  <th class="table-head">Tuition</th>
                </tr>
              </thead>
              <tbody class="text-center"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <span class="bottom">Copyright &copy; <a href="https://github.com/NickP20" target="_blank">Nick Prieto</a> ,<a href="https://github.com/ZiboZhao0804" target="_blank">Zibo Zhao</a>,<a href="https://github.com/helenaz0523" target="_blank">Helena Zhang</a>,
        <a href="https://github.com/rutili" target="_blank">Joe Rutili</a>, Seara Clayborn  2021</span>
      <a class="top-button" href="#top">Back To Top</a>
    </footer>
  </div>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"></script>
  <script src="static/js/datapage.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>