<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Colleges</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <div class="hero text-center" id="top">
      <h1 class="fluid hero-text">Top US Universites Attributes & Visualizations</h1>
      <p class="fluid hero-text">Explore The top univserities and their Attributes</p>
    </div>

  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">2022 Best Colleges in America</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/datapage">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="https://www.niche.com/">NICHE</a></li>
              <li><a class="dropdown-item" href="https://github.com/ZiboZhao0804/University-Ranking">GitHub</a></li>
              <li><a class="dropdown-item" href="https://developers.google.com/maps/documentation/geocoding/overview">Google Places API</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>

    <div class="container">
        <div class="row">
          <!--descripition-->
          <div class="col-md-8">
            <div class="card card-body border-info bg-light">
              <h5>Introduction to our university ranking app!</h5>
            </div>
            <div class="card border-info mb-3">
              <div class="card-body">
                <p class="card-text">This is the descprtion.Use the interactive charts below to explore the dataset.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.This is the descprtion.</p>
              </div>
            </div>
          </div>
          <!--metadata-->
          <div class="col-md-4">
            <div class="card card-body border-info bg-light">
              <h5>University Name</h5>
              <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
            <div class="card border-info mb-3">
              <div class="card-header text-white bg-info">University Information</div>
              <div id="sample-metadata" class="card-body"></div>
            </div>
          </div>
        </div>  
          <!--map-->
          <br>
          <div class="row">
            <div class="col-md-12">
              <div class="card card-body border-info bg-light">
                <h5>A visualization of best college on US map</h5>
                <div class="card-header">
                  <div>
                    <h6 class="card-title text-center border-bottom"></h6>
                    <p class="card-text">descrption of map.descrption of map.descrption of map.descrption of map.descrption of map.descrption of map.descrption of map.descrption of map.descrption of map.descrption of map.descrption of map.</p>
                  </div>
                </div>
                <div class="card-body">
                  <div id="map" class="leaflet-container" style="height: 650px; outline:none"></div>
                </div>
              </div>  
            </div>
          </div>
      

        <!--still in progress-->
         <!--more plots coming down -->
         <br> 
         <div class="row">
          <div class="col-md-6">
            <div class="card card-body border-info bg-light">
              <h5>Top 10 states with the most number of top 800 colleges</h5>
              <div class="card-header">
                <div>
                  <h6 class="card-title text-center border-bottom"></h6>
                  <p class="card-text">discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.</p>
                </div>
              </div>
              <div class="card-body">
                <div id="pieplot" style="height: 300px; outline:none"></div>
              </div>
            </div>  
          </div>
          <div class="col-md-6">
            <div class="card card-body border-info bg-light">
              <h5>SAT score distribution in different Niche grade categories</h5>
              <div class="card-header">
                <div>
                  <h6 class="card-title text-center border-bottom"></h6>
                  <p class="card-text">discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.</p>
                </div>
              </div>
              <div class="card-body">
                <div id="boxplot" style="height: 300px; outline:none"></div>
              </div>
            </div>  
          </div>
        </div>
        <!--scatter plot, need more information or even change to a d3 scatter-->
        <br>   
      <div class="row">
        <div class="col-md-12">
          <div class="card card-body border-info bg-light">
            <h5>SAT score distribution in different Niche grade categories</h5>
            <div class="card-header">
              <div>
                <h6 class="card-title text-center border-bottom"></h6>
                <p class="card-text">discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.discrition of plot.</p>
              </div>
            </div>
            <div class="card-body">
              <div id="scatterplot" style="height: 600px; outline:none"></div>
            </div>
          </div>  
        </div>
      </div>
    </div>

    <footer class="footer">
      <span class="bottom">Copyright &copy; <a href="https://github.com/NickP20" target="_blank">Nick Prieto</a> ,<a href="https://github.com/ZiboZhao0804" target="_blank">Zibo Zhao</a>,<a href="https://github.com/helenaz0523" target="_blank">Helena Zhang</a>,
        <a href="https://github.com/rutili" target="_blank">Joe Rutili</a>, Seara Clayborn  2021</span>
      <a class="top-button" href="#top">Back To Top</a>
    </footer>
    
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="static/js/metadata.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <!-- API key -->
    <script type="text/javascript" src="static/js/config.js"></script>
    <!-- Our JavaScript for map -->
    <!--statesData copied from https://leafletjs.com/examples/choropleth/us-states.js-->
    <script type="text/javascript" src="static/js/Unimap.js"></script>
    <script type="text/javascript" src="static/js/choropleth.js"></script>

    <!-- Our JavaScript for different plot -->

    <script type="text/javascript" src="static/js/pieplot.js"></script>
    <script type="text/javascript" src="static/js/boxplot.js"></script>
    <script type="text/javascript" src="static/js/scatterplot.js"></script>

  </div>
</body>

</html>